{{!-- New Layout --}}
{{cprTrace "START ACTOR CPR-CHARACTER-SHEET.HBS"}}
<form>
  <div class="actor-sheet character">
    {{> "systems/cyberpunk-red-core/templates/actor/character/cpr-left-pane.hbs"}}
    {{> "systems/cyberpunk-red-core/templates/actor/character/cpr-right-pane.hbs"}}
    {{> "systems/cyberpunk-red-core/templates/actor/character/cpr-bottom-pane.hbs"}}
  </div>
</form>
{{cprTrace "END CPR-CHARACTER-SHEET.HBS"}}
