{{cprTrace "START DIALOG CPR-MOOK-NAME-PROMPT.HBS"}}
<form class="dialog-sheet">
  <div class="dialog-header flexcol">
    <div class="text-normal text-center">
      {{localize "CPR.dialog.mookName.changeMooksName"}}:
    </div>
  </div>
  <div class="dialog-grid flexcol">
    <ol class="dialog-list">
      <li class="dialog-item flexrow">
        <div class="dialog-item-input item-end">
          <input name="name" type="text" value="{{name}}" />
        </div>
      </li>
    </ol>
  </div>
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
{{cprTrace "END CPR-MOOK-NAME-PROMPT.HBS"}}
