{{cprTrace "START DIALOG CPR-DEFAULT-PROMPT.HBS"}}
<form class="dialog-sheet">
  <div class="dialog-header">
    {{dialogMessage}}
  </div>
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
{{cprTrace "END CPR-DEFAULT-PROMPT.HBS"}}
