{{cprTrace "START ITEM DESCRIPTION CPR-NETARCH.HBS"}}
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.netArchitecture.floor.floors"}}:
  </span>
  <span class="summary-value">
    {{item.system.floors.length}}
  </span>
</div>
{{cprTrace "END CPR-NETARCH.HBS"}}
