{{cprTrace "START ITEM DESCRIPTION CPR-CLOTHING.HBS"}}
<div class="item-summary-line">
  <span class="summary-name">
    {{localize (cprFindConfigValue "clothingStyle" item.system.style)}} {{localize (cprFindConfigValue "clothingType" item.system.type)}}
  </span>
</div>
<hr>
{{cprTrace "END CPR-CLOTHING.HBS"}}
