{{cprTrace "START ITEM DESCRIPTION CPR-ITEMUPGRADE.HBS"}}
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.itemSheet.itemUpgrade.upgradeType"}}:
  </span>
  <span class="summary-value item-sheet">
    {{localize (cprFindConfigValue "objectTypes" item.system.type)}}
  </span>
</div>
{{cprTrace "END CPR-ITEMUPGRADE.HBS"}}
