{{cprTrace "START ITEM DESCRIPTION CPR-ROLE.HBS"}}
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.itemSheet.role.rank"}}:
  </span>
  <span class="summary-value">{{item.system.rank}}</span>
</div>
{{cprTrace "END CPR-ROLE.HBS"}}
