{{cprTrace "START ACTOR MOOK CPR-MOOK-IMAGE.HBS"}}
<div class="mook-image-block">
  <img class="mook-image-block-img"
       src="{{actor.img}}"
       data-edit="img"
       data-tooltip="{{actor.name}}"/>
</div>
{{cprTrace "END CPR-MOOK-IMAGE.HBS"}}
