{{cprTrace "START ITEM DESCRIPTION MIXIN CPR-STACKABLE.HBS"}}
<div class="item-summary-line">
  <span class="summary-name text-semi">
    {{localize "CPR.global.generic.amount"}}:
  </span>
  <span class="summary-value">
    {{item.system.amount}}
  </span>
</div>
{{cprTrace "END CPR-STACKABLE.HBS"}}
