{{cprTrace "START ITEM DESCRIPTION MIXIN CPR-ELECTRONIC.HBS"}}
<div class="item-summary-line">
  <span class="text-semi summary-name">{{localize "CPR.itemSheet.electronic"}}:</span>
  <span class="summary-value">{{cprYesNo item.system.isElectronic}}</span>
</div>
{{cprTrace "END CPR-ELECTRONIC.HBS"}}
