{{cprTrace "START ACTOR MIXIN ACTIONS CPR-SPLIT-ITEM.HBS"}}
<a class="item-action" data-action-type="split"><i class="fas fa-cut"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.splitItem"}}"></i></a>
{{cprTrace "END CPR-SPLIT-ITEM.HBS"}}
