{{cprTrace "START ACTOR MIXIN ACTIONS CPR-INSTALL-CYBERWARE-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="system.isInstalled"><i class="fas fa-microchip icon-button"
   data-tooltip="{{localize "CPR.global.generic.install"}}"></i></a>
{{cprTrace "END CPR-INSTALL-CYBERWARE-GLYPH.HBS"}}
