{{cprTrace "START ACTOR MIXIN ACTIONS CPR-UPGRADE-GLYPH.HBS"}}
<a class="item-action"
   data-item-id="{{id}}"
   data-action-type="manage-upgrades"><i class="fab fa-superpowers"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.manageUpgrades"}}"></i></a>
{{cprTrace "END CPR-UPGRADE-GLYPH.HBS"}}
