{{cprTrace "START ACTOR MIXIN ACTIONS CPR-UNINSTALL-GLYPH.HBS"}}
<a class="install-remove-cyberware" data-item-prop="system.isInstalled">
  <i class="fas fa-microchip icon-button"
     data-tooltip="{{localize "CPR.actorSheets.commonActions.uninstall"}}">
  </i>
</a>
{{cprTrace "END CPR-UNINSTALL-GLYPH.HBS"}}
