{{cprTrace "START ACTOR MIXIN ACTIONS CPR-CHANGEAMMO-GLYPH.HBS"}}
<a class="item-action"
   data-item-id="{{this.id}}"
   data-action="select-ammo">
  <i class="fas fa-exchange-alt"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.changeAmmo"}}"></i>
</a>
{{cprTrace "END CPR-CHANGEAMMO-GLYPH.HBS"}}
