{{cprTrace "START ACTOR MIXIN ACTIONS CPR-INSTALL-PROGRAMS-GLYPH.HBS"}}
<a class="item-action"
   data-item-id="{{this._id}}"
   data-action-type="manage-programs"><i class="fa-solid fa-folder-plus"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.managePrograms"}}"></i></a>
{{cprTrace "END CPR-INSTALL-PROGRAMS-GLYPH.HBS"}}
